@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  body {
    @apply bg-teal-dark;
  }
}

@layer components {
  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .content-div:hover {
    background-image: linear-gradient(
      to right,
      rgba(241, 122, 37, 0.8),
      hsla(160, 40%, 30%, 0.8)
    ) !important;
  }
}
