@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
  body {
    @apply bg-teal-dark;
  }
}

@layer components {
  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
  }

  .content-div:hover {
    background-image: linear-gradient(
      to right,
      rgba(241, 122, 37, 0.8),
      hsla(160, 40%, 30%, 0.8)
    ) !important;
  }

  .section-height {
    @apply min-h-[auto] md:min-h-[70vh] mb-[6rem] md:mb-0;
  }

  .black-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100 !important;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
    @apply block md:hidden;
  }
  .black-screen.show {
    opacity: 1;
    pointer-events: visible;
  }
}
